<nav>
  <div class="container navbar-container">
    <img src="./images/logo.svg" id="logo" />
    <ul>
      <li class="menu_bar"><a href="/" id="Home_button">Home</a></li>
      <li class="menu_bar"><a href="/packages">Packages</a></li>
      <li class="menu_bar"><a href="/news">News</a></li>
      <li class="menu_bar"><a href="/support">Support</a></li>
      <li class="menu_bar"><a href="/#About_us">About</a></li>
      <li class="menu_bar"><a href="/#contact_form">Contact</a></li>

    </ul>
    <button id="#signin-button">Sign in</button>
  </div>
</nav>