<!--
// Author: Joshua Flores
// Email: joshua.flores3@snhu.edu
// Date: 02/05/2024
// Version: 0.1.0 
// Purpose: Currently implemented only to allow no broken links in the current version 0.1.0
-->

<header>
    {{> navbar}}
</header>
<main>
    packages
    <div class="filter_bar">
        <button>Filter</button>
    </div>
    <div class="travel_news">
        {{#each countries}}
        <article>
            <h2>{{name}}</h2>
        </article>
        {{/each}}
    </div>
</main>