/*
// Author: Joshua Flores
// Email: joshua.flores3@snhu.edu
// Date: 02/05/2024
// Version: 0.1.0 
// Purpose: Currently implemented to provide basic styling to the news page countries listed
*/

:host {
  grid-column: span 12;
  height: 100%;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  top: 0%;
  max-width: 1200px;
  width: 100%;
  left: 0%;
  margin: 100px auto;
}

/* Creates a square grid template for the cards holding each country */
.countryList {
  margin: 0px auto;
  display: inherit;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-style: outset;
  border-radius: 15px;
  border-color: rgb(219, 209, 209);
  border-width: 10px;
}

/* This separates the larger div travel_news from the separate articles by adding background color differentiation */
article {
  grid-column: span 4;
  padding: 10px;
  margin: 10px;
  background-color: rgb(59, 57, 53);
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

h2 {
  position: absolute;
  font-family: "Rosarivo-Regular";
  font-size: 2em;
  padding: 1em 0;
  letter-spacing: 0.25em;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.filter_bar {
  display: flex;
  left: 0;
  bottom: 0;
  align-items: left;
  float: left;
  max-width: fit-content;
  margin: 10px auto 0px auto;
  grid-column: span 1;
}

button {
  margin-right: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: max-content;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-column: span 12;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  z-index: 999; /* ensure the overlay appears on top of other content */
}

form {
  display: relative;
  border-radius: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  background-color: white;
}

.form-group {
  position: relative;
  width: max-content;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  position: relative;
  max-width: 80%;
  margin: 2em;
  padding-bottom: 1em;
  position: relative;
  text-align: right;
}

input[type="text"],
input[type="file"] {
  background-color: rgba(202, 202, 202, 0.288);
  margin-top: 1em;
  position: relative;
  width: fit-content;
  max-width: 100%; /* Ensures input takes remaining width */
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid black;
}

.edit-button {
  display: block;
  position: absolute;
  bottom: 4.75%;
}
