<div class="home-component">
    <div class="news_stories container ">
        <h2>TOP DESTINATIONS</h2>
        <div class="top_story">
            <div class="top_story">
                <label for="Trip1" id="Trip1">Istanbul</label>
                <article class=" container">

                    <p class="trip_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque animi
                        laboriosam,
                        molestiae debitis
                        quam quisquam nobis, incidunt omnis cum labore tempore iusto aspernatur suscipit? Minus earum a
                        impedit perspiciatis similique! Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                        exercitationem corrupti eligendi, aspernatur ab est architecto voluptates et officia laudantium
                        beatae facilis excepturi, rem nemo quas tempore molestias ipsam incidunt. </p>
                    <img src="../../assets/images/Istanbul.jpg" class="trip_image rightside_image" id="Trip1_Img">
                </article>
            </div>
            <div class="top_story">
                <label for="Trip2" id="Trip2">New York</label>
                <article class=" container">

                    <img src="../../assets/images/newyork.jpg" class="trip_image leftside_image" id="Trip2_Img">

                    <p class="trip_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque animi
                        laboriosam,
                        molestiae debitis
                        quam quisquam nobis, incidunt omnis cum labore tempore iusto aspernatur suscipit? Minus earum a
                        impedit perspiciatis similique! Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                        exercitationem corrupti eligendi, aspernatur ab est architecto voluptates et officia laudantium
                        beatae facilis excepturi, rem nemo quas tempore molestias ipsam incidunt. </p>
                </article>
            </div>
            <div class="top_story">
                <label for="Trip3" id="Trip3">Rome</label>
                <article class=" container">

                    <p class="trip_desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque animi
                        laboriosam,
                        molestiae debitis
                        quam quisquam nobis, incidunt omnis cum labore tempore iusto aspernatur suscipit? Minus earum a
                        impedit perspiciatis similique! Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
                        exercitationem corrupti eligendi, aspernatur ab est architecto voluptates et officia laudantium
                        beatae facilis excepturi, rem nemo quas tempore molestias ipsam incidunt. </p>
                    <img src="../../assets/images/rome.jpg" class="trip_image rightside_image" id="Trip3_Img">
                </article>
            </div>
        </div>
    </div>

    <div class="container" id="About_us">
        <h2>ABOUT US</h2>
        <article class="about_us_container">
            <img src="../../assets/images/desk.png" id="office_img" />
            <p class="about_us_desc">
                With a legacy spanning more than two decades, Travlr has been a pioneering force in the travel industry,
                curating journeys that transcend the ordinary. Since our inception in 2004, we have
                been dedicated to the art of crafting personalized experiences, combining our wealth of knowledge with
                an unwavering commitment to delivering unforgettable adventures.
                <br />
                <br />
                Our journey began with a simple yet profound vision - to offer more than just travel; we aimed to
                provide tailor-made experiences that resonate with the unique preferences of each traveler. Over the
                years, Travlr has evolved, adapting to changing landscapes and embracing innovation while staying rooted
                in the values that define our brand.
                <br />
                <br />
                Backed by a team of seasoned travel enthusiasts, each with a passion for exploration, Travlr has set the
                benchmark for excellence in the industry. Our meticulous attention to detail ensures that every
                itinerary is a masterpiece, reflecting the diverse interests and desires of our clientele. Whether it's
                a luxurious retreat, an adrenaline-pumping escapade, or a cultural immersion, Travlr is dedicated to
                making dreams a reality.
                <br />
                <br />
                As we celebrate over 20 years of creating memories, Travlr remains committed to shaping the future of
                travel. Join us on a journey where your unique needs take center stage, and let us continue to redefine
                the boundaries of wanderlust together. With Travlr, your adventure is not just a trip; it's a bespoke
                experience designed exclusively for you.
            </p>
        </article>
    </div>

    <section class="contact" id="contact_form">
        <div class="contact-container">
            <h2>CONTACT US</h2>
            <div class="contact-wrapper">
                <div class="contact-form">
                    <h3>Send us a message</h3>
                    <form action="/submit-form" method="post">
                        <div class="form-group">
                            <input type="text" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <textarea name="message" placeholder="Enter a message"></textarea>
                        </div>
                        <button type="submit">Send Message</button>
                    </form>
                </div>
                <div class="contact-information">

                    <h3>Contact Info </h3>
                    <p><i class="fas fa-phone"></i>+1 234 456 789</p>
                    <p><i class="fas fa-envelope"></i>info&#64;email.com</p>
                    <p><i class="fas fa-map-marker-alt"></i>123, Street, City, Country</p>
                </div>
            </div>
        </div>
    </section>
</div>