main {
  position: flex;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  top: 0%;
  max-width: 1200px;
  width: 100%;
  left: 0%;
  margin: 100px auto;
}

.travel_news {
  margin: 0px auto;
  display: inherit;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-style: outset;
  border-radius: 15px;
  border-color: rgb(219, 209, 209);
  border-width: 10px;
}

article {
  grid-column: span 4;
  padding: 10px;
  margin: 10px;
  background-color: rgb(59, 57, 53);
}

h2 {
  text-align: center;
}

.filter_bar {
  bottom: 0;
  align-items: left;
  max-width: fit-content;
  margin: 10px auto 0px auto;
  grid-column: span 1;
}
