/*
// Author: Joshua Flores
// Email: joshua.flores3@snhu.edu
// Date: 02/05/2024
// Version: 0.1.0 
// Purpose: Currently implemented to provide basic styling to the news page countries listed
*/

main {
  position: flex;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  top: 0%;
  max-width: 1200px;
  width: 100%;
  left: 0%;
  margin: 100px auto;
}

/* Creates a square grid template for the cards holding each country */
.travel_news {
  margin: 0px auto;
  display: inherit;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-style: outset;
  border-radius: 15px;
  border-color: rgb(219, 209, 209);
  border-width: 10px;
}

/* This separates the larger div travel_news from the separate articles by adding background color differentiation */
article {
  grid-column: span 4;
  padding: 10px;
  margin: 10px;
  background-color: rgb(59, 57, 53);
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

h2 {
  position: absolute;
  font-family: "Rosarivo-Regular";
  font-size: 2em;
  padding: 1em 0;
  letter-spacing: 0.25em;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.filter_bar {
  bottom: 0;
  align-items: left;
  max-width: fit-content;
  margin: 10px auto 0px auto;
  grid-column: span 1;
}

#article-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid black;
}
