<nav class="container">
  <ul class="container">
    <li>
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
        Home
      </a>
    </li>
    @if(isLoggedIn){<li>
      <a routerLink="/add-country" routerLinkActive="active" ariaCurrentWhenActive="page">
        Add Country
      </a>
    </li>
    }
    <li>
      <a routerLink="/get-countries" routerLinkActive="active" ariaCurrentWhenActive="page">
        Get countries
      </a>
    </li>
  </ul>
</nav>
<main class="main container">
  <router-outlet />
</main>